*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    font-family: monospace;
    font-size: 16px;
    color: rgb(251, 252, 252);
    background-color: hsla(204,12.449720506%,0%,0.77);
    height: 100vh;
}

.header-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}

span{
    font-size: 32px;
}

